<app-nav></app-nav>
<section class="container mt-5 mb-5">
    <p class="bold mt-3 mb-5"><span class="underline">FREQUENTLY ASKED QUESTIONS</span></p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt delectus similique quod quam nesciunt, cumque illo beatae laudantium deserunt minus.
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt delectus similique quod quam nesciunt, cumque illo beatae laudantium deserunt minus.
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptate quasi deleniti nisi dolorem similique, possimus ex magni voluptates temporibus quis beatae blanditiis, recusandae odio accusantium repellat obcaecati dignissimos. Modi.
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam illum quam ratione aspernatur, recusandae temporibus provident fugit molestias ducimus fuga alias rerum earum iusto non commodi, eaque consequatur qui vitae numquam deleniti totam blanditiis quas? At rerum laboriosam ea dignissimos!
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias blanditiis et voluptate delectus nesciunt aliquam?    
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta perspiciatis eaque quidem vero fugit nobis animi quas, tempore commodi quisquam necessitatibus, atque labore libero, voluptate reprehenderit ex quia! Voluptatem, veniam.
    </p>
    <p>
        <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, aut?</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam laborum molestiae assumenda quos autem! Id sapiente necessitatibus totam sit deleniti! Consequuntur aspernatur sequi rem minus veniam illo cum officiis voluptatum! Impedit nihil minus deleniti provident iure cumque animi id alias?
    </p>
</section>
<app-footer></app-footer>
