<app-nav></app-nav>
<section class="container">
    <div class="row mt-5 mb-5">
        <div class="offset-2 col-md-8 col-lg-8 col-sm-12">
            <p class="bold mt-3 mb-5"><span class="underline">ABOUT US</span></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus perferendis necessitatibus officia iure natus atque libero est quisquam, molestias eos magnam eum iusto quasi! Aliquid hic maxime nam nulla similique tempora eius, deleniti iure qui aut? Magnam, veritatis incidunt alias cum architecto officia fuga qui odio, corrupti voluptates commodi accusamus?
            </p>
        </div>
    </div>
    </section>
<app-footer></app-footer>