<app-nav></app-nav>
<app-cartbtn></app-cartbtn>
<section>
  <div class="topBg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row mt-5 mr-5 mb-5">
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p class="bolder"> Luxury Does Not Always Mean Expensive.</p>
                <p class="bold">Book Luxury Cars for as Low as &#8358;20,000.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 jumbotron">
                  <h3 class="text-success mb-4 text-center">BOOK A CAR NOW!</h3>
                  <form action="" [formGroup]= "quickOrderGroup">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="pickUpDate" class="sr-only">Pickup Date</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Pickup Date</div>
                            </div>
                            <input type="date" class="form-control" formControlName="pickUpDate" id="pickUpDate">
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.pickUpDate.touched && quickOrderGroup.controls.pickUpDate.errors">Select Pickup date</div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <label for="pickUpTime" class="sr-only">Pick Up Time</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Pick Up Time</div>
                            </div>
                            <select formControlName="pickUpTime" id="pickUpTime" class="form-control">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.pickUpTime.touched && quickOrderGroup.controls.pickUpTime.errors">Select Pickup time</div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="input-group">
                            <label for="dropOffDate" class="sr-only">Drop Off Date</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Drop Off Date</div>
                            </div>
                            <input type="date" class="form-control" formControlName="dropOffDate" id="dropOffDate">
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.dropOffDate.touched && quickOrderGroup.controls.dropOffDate.errors">Select Date of Birth</div>
                    </div> 
                    
                    <div class="form-group">
                        <div class="input-group">
                            <label for="dropOffTime" class="sr-only">Drop off Time</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Drop off Time</div>
                            </div>
                            <select formControlName="dropOffTime" id="dropOffTime" class="form-control">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.dropOffTime.touched && quickOrderGroup.controls.dropOffTime.errors">Select Type</div>
                    </div>-->
                    
                    <div class="form-group">
                        <div class="input-group">
                            <label for="category" class="sr-only">Category</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Search By</div>
                            </div>
                            <select formControlName="category" id="category" class="form-control" (change) = "category()">
                                <option value="all" selected>All Category</option>
                                <option value="maker">By Maker</option>
                                <option value="type">By Type</option>
                            </select>
                        </div>
                      </div>
                      <div style="height: 50px">
                      <div class="form-group" *ngIf="catSelected == 'maker'">
                        <div class="input-group">
                            <label for="maker" class="sr-only">Makers</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Select Maker</div>
                            </div>
                            <select formControlName="maker" id="maker"  class="form-control">
                                <option *ngFor="let brand of carBrands" value="{{brand.name}}">{{brand.name | uppercase}}</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.category.touched && quickOrderGroup.controls.category.errors">Select Maker</div>
                    </div>

                    <div class="form-group" *ngIf="catSelected === 'type'">
                        <div class="input-group">
                            <label for="type" class="sr-only">Types</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Select Type</div>
                            </div>
                            <select formControlName="type" id="type" class="form-control">
                                <option  *ngFor="let type of carTypes" value="{{type.name}}">{{type.name | uppercase}}</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.category.touched && quickOrderGroup.controls.category.errors">Select Type</div>
                    </div>
                      </div> 
                    
                    
                    <button type="button" class="btn bg-success btn-outline-light btn-lg float-right" [disabled]="existing === true || !quickOrderGroup.valid" (click)="onSubmit()" id="submit">Search</button>

                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="cartMessage">
        <div class="cartMessage alert-success text-success text-center font-weight-bold p-3">{{cartMessage}}</div>
      </div>
  <!-- Models Starts here -->
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="pr-2 float-right">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                            <a class="nav-item nav-link" id="nav-rating-tab" data-toggle="tab" href="#nav-rating" role="tab" aria-controls="nav-profile" aria-selected="false">Ratings and Reviews</a>
                        </div>
                    </nav>
                    <div class="tab-content mt-4" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="card shadow-sm">
                                <img src="{{carViewData?.image}}" class="card-img-top mt-2" alt="car image">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{carViewData?.brand | uppercase }} {{carViewData?.model | uppercase}}</h5>
                                    <p class="card-text">Colour: {{carViewData?.colour | uppercase }}</p>
                                    <p class="card-text">Price: &#8358;{{carViewData?.pricePerKM}}/KM</p>
                                    <p class="card-text">Rating: {{carViewData?.rating}}</p>
                                    <p class="card-text">Description: {{carViewData?.description}}</p>
                                    <p class="text-right">
                                        <button class="btn btn-outline-success" (click)="addToCart(carViewData?._id, carViewData?.image, carViewData?.brand, carViewData?.model, carViewData?.colour, carViewData?.pricePerKM)">Add to cart</button>
                                        <button class="btn btn-outline-danger ml-2" (click)="addAndCheckout(carViewData?._id, carViewData?.image, carViewData?.brand, carViewData?.model, carViewData?.colour, carViewData?.pricePerKM)">Book and Checkout</button>
                                        <button type="button" class="btn btn-danger ml-2" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" >Close</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab">
                            <div class="mt-3" *ngIf="reviews?.length > 1">
                                <p class="font-weight-bolder">Average Rating: {{carViewData?.rating}}</p>
                                <p class="bolderx"><span class="underlinex">REVIEWS</span></p>
                                <div class="jumbotron jumbotronx" *ngFor="let review of reviews">
                                    <div class="font-weight-bold">{{review.displayName}} <small class="text-right">{{review.time | date: 'MMM d, y, h:mm:ss a'}}</small></div>
                                    <p class="font-weight-bold">{{review.oneWord}}</p>
                                    <p class="">{{review.review}}</p>
                                    <p>Rating: {{review.rating}}/5</p>
                                </div>
                            </div>
                            <div class="mt-3" *ngIf="reviews?.length == 0">
                                    <p class="bolderx">No Reviews Yet.</p>
                            </div>
                        </div>
                    </div> 
            </div>
        </div>
        
        </div> 
      </div>

  <!-- Random cars -->
  <div class="container display" *ngIf="randomCars">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 mt-2" *ngFor="let car of randomCars">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="./../../{{car.image}}" class="card-img-top" alt="car image">
                <div class="card-body">
                        <h5 class="card-title text-center">{{car.brand | uppercase}} {{car.model | uppercase}}</h5>
                        <p class="card-text">Colour: {{car.colour | uppercase }}</p>
                        <p class="card-text">Price: &#8358;{{car.pricePerKM}}/KM</p>
                        <p class="card-text">Rating: {{car.rating}}</p>
                        <p class="card-text">Description: {{car.description}}</p>
                        <div>
                                <button class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#viewModal" (click)="carView(car._id)"> View </button>
                                <button type="button"  class="btn btn-danger btn-sm btn-block" (click)="addToCart(car._id, car.image, car.brand, car.model, car.colour, car.pricePerKM)">Add to Cart</button>
                                <button [hidden]='true' id="viewBtn" data-toggle="modal" data-target="#viewModal"> View </button>
                        </div>
                </div>
            </div>
          </div>
          
      </div>
  </div>
  <div class="mt-3 mb-5">
    <p class="brand"><span class="underline">Available Brands</span></p>
    <app-slider></app-slider>
  </div>
  
</section>
<app-footer></app-footer>
