<app-nav></app-nav>
<section>
  <div class="topBg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row mt-5 mr-5 mb-5">
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p class="bolder"> Luxury Does Not Always Mean Expensive.</p>
                <p class="bold">Book Luxury Cars for as Low as &#8358;20,000.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 jumbotron">
                  <form action="" [formGroup]= "quickOrderGroup">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="pickUpDate" class="sr-only">Pickup Date</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Pickup Date</div>
                            </div>
                            <input type="date" class="form-control" formControlName="pickUpDate" id="pickUpDate">
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.pickUpDate.touched && quickOrderGroup.controls.pickUpDate.errors">Select Date of Birth</div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <label for="pickUpTime" class="sr-only">Pick Up Time</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Pick Up Time</div>
                            </div>
                            <select formControlName="pickUpTime" id="pickUpTime" class="form-control">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.pickUpTime.touched && quickOrderGroup.controls.pickUpTime.errors">Select Type</div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="input-group">
                            <label for="dropOffDate" class="sr-only">Drop Off Date</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Drop Off Date</div>
                            </div>
                            <input type="date" class="form-control" formControlName="dropOffDate" id="dropOffDate">
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.dropOffDate.touched && quickOrderGroup.controls.dropOffDate.errors">Select Date of Birth</div>
                    </div> -->
                    
                    <div class="form-group">
                        <div class="input-group">
                            <label for="dropOffTime" class="sr-only">Drop off Time</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Drop off Time</div>
                            </div>
                            <select formControlName="dropOffTime" id="dropOffTime" class="form-control">
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.dropOffTime.touched && quickOrderGroup.controls.dropOffTime.errors">Select Type</div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <label for="category" class="sr-only">Category</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Search By</div>
                            </div>
                            <select formControlName="category" id="category" class="form-control" (change) = "category()">
                                <option value="all" selected>All Category</option>
                                <option value="maker">By Maker</option>
                                <option value="type">By Type</option>
                            </select>
                        </div>
                      </div>
                      <div style="height: 50px">
                      <div class="form-group" *ngIf="catSelected == 'maker'">
                        <div class="input-group">
                            <label for="maker" class="sr-only">Makers</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Select Maker</div>
                            </div>
                            <select formControlName="maker" id="maker"  class="form-control">
                                <option *ngFor="let brand of carBrands" value="{{brand.name}}">{{brand.name | uppercase}}</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.category.touched && quickOrderGroup.controls.category.errors">Select Maker</div>
                    </div>

                    <div class="form-group" *ngIf="catSelected === 'type'">
                        <div class="input-group">
                            <label for="type" class="sr-only">Types</label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">Select Type</div>
                            </div>
                            <select formControlName="type" id="type" class="form-control">
                                <option  *ngFor="let type of carTypes" value="{{type.name}}">{{type.name | uppercase}}</option>
                            </select>
                        </div>
                        <div class="text-danger p-2 mt-1" *ngIf="quickOrderGroup.controls.category.touched && quickOrderGroup.controls.category.errors">Select Type</div>
                    </div>
                      </div> 
                    
                    
                    <button type="button" class="btn bg-success btn-outline-light btn-lg float-right" [disabled]="existing === true || !quickOrderGroup.valid" (click)="onSubmit()" id="submit">Search</button>

                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container display">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="../../assets/img/2018-11-07-08-04-13.jpg" class="card-img-top" alt="car image">
                <div class="card-body">
                  <h5 class="card-title">Lexus RX550</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, nostrum!</p>
                  <a href="#" class="btn btn-success text-center">Rent</a>
                </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="../../assets/img/2018-11-07-08-04-13.jpg" class="card-img-top" alt="car image">
                <div class="card-body">
                  <h5 class="card-title">Lexus RX550</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, nostrum!</p>
                  <a href="#" class="btn btn-success text-center">Rent</a>
                </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="../../assets/img/2018-11-07-08-04-13.jpg" class="card-img-top" alt="car image">
                <div class="card-body">
                  <h5 class="card-title">Lexus RX550</h5>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, nostrum!</p>
                  <a href="#" class="btn btn-success text-center">Rent</a>
                </div>
            </div>
          </div>
          
      </div>
  </div>
  <div class="mt-3 mb-5">
    <p class="brand"><span class="underline">Available Brands</span></p>
    <app-slider></app-slider>
  </div>
  
</section>
<app-footer></app-footer>
