<!--start-->
      <div id="thumbnail-slider">
          <div class="inner">
              <ul>
                  <li>
                      <a class="thumb" href="../../assets/img/img/benz.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/prorsche.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/bmw.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/maserati.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/lambo.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/audi.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/cadillac.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/chevrolet.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/Rollsroyce.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/chrysler.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/ferrari.png"></a>
                  </li>
                  <li>
                      <a class="thumb" href="../../assets/img/img/peugeot.png"></a>
                  </li>
              </ul>
          </div>
  <div style="clear:both;"></div>

</div>
<!--end-->