<app-navbar></app-navbar>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav [class.active]='sidebar' id="sidebar">
        <div class="sidebar">
            <ul>
                <li><a [routerLink]="[ '/user' ]" [routerLinkActiveOptions]= "{ exact: true }" routerLinkActive="actives"> Dashboard </a></li>
                <li><a [routerLink]="[ '/user/profile' ]" routerLinkActive="actives"> Profile </a></li>
                <li class="pointer"><a data-toggle="modal" data-target="#orderModal"> Order </a></li>
                <li><a [routerLink]="[ '/user/history' ]" routerLinkActive="actives"> History </a></li>
                <li><a [routerLink]="[ '/user/review' ]" routerLinkActive="actives"> Review </a></li>
                <li><a [routerLink]="[ '/user/contact' ]" routerLinkActive="actives"> Contact </a></li>
                <li><a [routerLink]="[ '/user/about' ]" routerLinkActive="actives"> About </a></li>
                <li><a [routerLink]="[ '/user/faq' ]" routerLinkActive="actives"> FAQ </a></li>
            </ul>
        </div>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" class="navbar-btn btn-success mb-2" [class.active]='sidebar' (click)="sidebarActive()">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <app-modal></app-modal>
        <div class="loader-overlay" *ngIf="loader">
            <img src="./../../../assets/img/loader.gif" alt="" class="loader">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="alert-danger text-danger text-center mb-2 p-3" *ngIf="failedMessage">{{failedMessage}}</div>
                <table class="table table-striped table-light">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Car</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Price/KM (&#8358;)</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let cart of cartItems; let i = index">
                        <td>{{i + 1}}</td>
                        <td><img src="./../../{{cart.carImage}}" alt="car image" width="120px" height="40px"></td>
                        <td>{{cart.carBrand}} {{cart.carModel}}</td>
                        <td>{{cart.carColour}}</td>
                        <td>{{cart.carPrice}}</td>
                      </tr>
                    </tbody>
                </table>
                <div *ngIf="checkoutData">
                  <p><small>Pickup Date and Time: {{checkoutData.pickUpDate}} {{checkoutData.pickUpTime}}</small></p>
                  <p><small>Pickup Location: {{checkoutData.location | uppercase}}</small></p>
                  <p><small>Destination: {{checkoutData.destination | uppercase}}</small></p>
                  <p><small>Total Amount: &#8358;{{totalCost}}</small></p>
                </div>

                  <div><button type="button" class="btn bg-success btn-outline-light btn-lg float-right" (click)="makePayment()"> Make Payment </button></div>
            </div>
          </div>
        </div>
    </div>
</div>
<app-userfooter></app-userfooter>