<nav class="navbar navbar-expand-lg navbar-dark bg-dark  nav-fill block">
    <a class="navbar-brand bolder" [routerLink]="[ '/user' ]" >Atlux</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#atluxNav" aria-controls="atluxNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="atluxNav">
      <ul class="navbar-nav ml-auto ">
          
          <li class="nav-item p-2">
              <a class="nav-link"><button class="btn text-success" (click) = "navigateToProfile()"><i class="fas fa-user"></i> {{loggedUser}} </button></a>
          </li>
          <li class="nav-item pt-3">
              <a class="nav-link pointer" (click) = "navigateToCart()"> <i class="fas fa-shopping-cart carts"></i> <span class="badge text-white badge-notifys">{{cartItems}}</span></a>
          </li>
          <li class="nav-item ml-3 p-2">
              <a class="nav-link"><button class="btn btn-danger" (click) = "logout()"><i class="fa fa-power-off"></i> Logout </button></a>
          </li>
      </ul>
    </div>
</nav>