<footer class="bg-dark text-white-50 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="ml-2">
            <p class="bolder">Atlux</p>
            <p>Copyright &copy; {{ year }}</p>
            <p> All Right Reserved</p>
        </div>
        
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12">
        <p><strong>QUICK LINKS</strong></p>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link footerLinks" [routerLink]="[ 'about' ]"> ABOUT US </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLinks" [routerLink]="[ 'faq' ]"> FAQ </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLinks" [routerLink]="[ 'contact' ]"> CONTACT US </a>
            </li>
          </ul>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12">
        <p><strong>OFFICE ADDRESS/SHOWROOM</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda ipsa atque veritatis ipsum ex temporibus, inventore iusto est vitae?</p>
      </div>
    </div>
  </div>
  
</footer>